/* .palette {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.palette-colors {
  height: 88%;
} */
.palette-footer {
  height: 5vh;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 400;
}

.emoji {
  font-size: 1.2rem;
  margin: 0 0.8rem;
}
